{%extends "base.html"%}
{%block content%}
{% for article in article_list %}
	<div class = 'row'>
		<h3><a href="/article/detail/?id={{article.id}}">{{article.title|safe}}</a></h3>
	</div>
	<div class = 'row'>
		{{article.datetime|date:"Y-m-d"}}
		{%for item in article.tag.all%}
			<a>{{item}}</a>
		{%endfor%}
	</div>
	<div class = 'row'>
		<p>{{article.content|safe|truncatechars_html:200}}</p>
	</div>
	<div class = 'row'>
		{%for tag in taglist%}
			<a>{{tag}}</a>
		{%endfor%}
	</div>
	<hr>
{%endfor%}

{%endblock%}
